$icomoon-font-family: 'eva-icons' !default;
// $icomoon-font-path: "fonts" !default;

$icon-activity-outline: '\e900';
$icon-alert-circle-outline: '\e901';
$icon-alert-triangle-outline: '\e902';
$icon-archive-outline: '\e903';
$icon-arrow-back-outline: '\e904';
$icon-arrow-circle-down-outline: '\e905';
$icon-arrow-circle-left-outline: '\e906';
$icon-arrow-circle-right-outline: '\e907';
$icon-arrow-circle-up-outline: '\e908';
$icon-arrow-down-outline: '\e909';
$icon-arrow-downward-outline: '\e90a';
$icon-arrow-forward-outline: '\e90b';
$icon-arrowhead-down-outline: '\e90c';
$icon-arrowhead-left-outline: '\e90d';
$icon-arrowhead-right-outline: '\e90e';
$icon-arrowhead-up-outline: '\e90f';
$icon-arrow-ios-back-outline: '\e910';
$icon-arrow-ios-downward-outline: '\e911';
$icon-arrow-ios-forward-outline: '\e912';
$icon-arrow-ios-upward-outline: '\e913';
$icon-arrow-left-outline: '\e914';
$icon-arrow-right-outline: '\e915';
$icon-arrow-up-outline: '\e916';
$icon-arrow-upward-outline: '\e917';
$icon-at-outline: '\e918';
$icon-attach-2-outline: '\e919';
$icon-attach-outline: '\e91a';
$icon-award-outline: '\e91b';
$icon-backspace-outline: '\e91c';
$icon-bar-chart-2-outline: '\e91d';
$icon-bar-chart-outline: '\e91e';
$icon-battery-outline: '\e91f';
$icon-behance-outline: '\e920';
$icon-bell-off-outline: '\e921';
$icon-bell-outline: '\e922';
$icon-bluetooth-outline: '\e923';
$icon-bookmark-outline: '\e924';
$icon-book-open-outline: '\e925';
$icon-book-outline: '\e926';
$icon-briefcase-outline: '\e927';
$icon-browser-outline: '\e928';
$icon-brush-outline: '\e929';
$icon-bulb-outline: '\e92a';
$icon-calendar-outline: '\e92b';
$icon-camera-outline: '\e92c';
$icon-car-outline: '\e92d';
$icon-cast-outline: '\e92e';
$icon-charging-outline: '\e92f';
$icon-checkmark-circle-2-outline: '\e930';
$icon-checkmark-circle-outline: '\e931';
$icon-checkmark-outline: '\e932';
$icon-checkmark-square-2-outline: '\e933';
$icon-checkmark-square-outline: '\e934';
$icon-chevron-down-outline: '\e935';
$icon-chevron-left-outline: '\e936';
$icon-chevron-right-outline: '\e937';
$icon-chevron-up-outline: '\e938';
$icon-clipboard-outline: '\e939';
$icon-clock-outline: '\e93a';
$icon-close-circle-outline: '\e93b';
$icon-close-outline: '\e93c';
$icon-close-square-outline: '\e93d';
$icon-cloud-download-outline: '\e93e';
$icon-cloud-upload-outline: '\e93f';
$icon-code-download-outline: '\e940';
$icon-code-outline: '\e941';
$icon-collapse-outline: '\e942';
$icon-color-palette-outline: '\e943';
$icon-color-picker-outline: '\e944';
$icon-compass-outline: '\e945';
$icon-copy-outline: '\e946';
$icon-corner-down-left-outline: '\e947';
$icon-corner-down-right-outline: '\e948';
$icon-corner-left-down-outline: '\e949';
$icon-corner-left-up-outline: '\e94a';
$icon-corner-right-down-outline: '\e94b';
$icon-corner-right-up-outline: '\e94c';
$icon-corner-up-left-outline: '\e94d';
$icon-corner-up-right-outline: '\e94e';
$icon-credit-card-outline: '\e94f';
$icon-crop-outline: '\e950';
$icon-cube-outline: '\e951';
$icon-diagonal-arrow-left-down-outline: '\e952';
$icon-diagonal-arrow-left-up-outline: '\e953';
$icon-diagonal-arrow-right-down-outline: '\e954';
$icon-diagonal-arrow-right-up-outline: '\e955';
$icon-done-all-outline: '\e956';
$icon-download-outline: '\e957';
$icon-droplet-off-outline: '\e958';
$icon-droplet-outline: '\e959';
$icon-edit-2-outline: '\e95a';
$icon-edit-outline: '\e95b';
$icon-email-outline: '\e95c';
$icon-expand-outline: '\e95d';
$icon-external-link-outline: '\e95e';
$icon-eye-off-2-outline: '\e95f';
$icon-eye-off-outline: '\e960';
$icon-eye-outline: '\e961';
$icon-facebook-outline: '\e962';
$icon-file-add-outline: '\e963';
$icon-file-outline: '\e964';
$icon-file-remove-outline: '\e965';
$icon-file-text-outline: '\e966';
$icon-film-outline: '\e967';
$icon-flag-outline: '\e968';
$icon-flash-off-outline: '\e969';
$icon-flash-outline: '\e96a';
$icon-flip-2-outline: '\e96b';
$icon-flip-outline: '\e96c';
$icon-folder-add-outline: '\e96d';
$icon-folder-outline: '\e96e';
$icon-folder-remove-outline: '\e96f';
$icon-funnel-outline: '\e970';
$icon-gift-outline: '\e971';
$icon-github-outline: '\e972';
$icon-globe-2-outline: '\e973';
$icon-globe-outline: '\e974';
$icon-google-outline: '\e975';
$icon-grid-outline: '\e976';
$icon-hard-drive-outline: '\e977';
$icon-hash-outline: '\e978';
$icon-headphones-outline: '\e979';
$icon-heart-outline: '\e97a';
$icon-home-outline: '\e97b';
$icon-image-outline: '\e97c';
$icon-inbox-outline: '\e97d';
$icon-info-outline: '\e97e';
$icon-keypad-outline: '\e97f';
$icon-layers-outline: '\e980';
$icon-layout-outline: '\e981';
$icon-link-2-outline: '\e982';
$icon-linkedin-outline: '\e983';
$icon-link-outline: '\e984';
$icon-list-outline: '\e985';
$icon-loader-outline: '\e986';
$icon-lock-outline: '\e987';
$icon-log-in-outline: '\e988';
$icon-log-out-outline: '\e989';
$icon-map-outline: '\e98a';
$icon-maximize-outline: '\e98b';
$icon-menu-2-outline: '\e98c';
$icon-menu-arrow-outline: '\e98d';
$icon-menu-outline: '\e98e';
$icon-message-circle-outline: '\e98f';
$icon-message-square-outline: '\e990';
$icon-mic-off-outline: '\e991';
$icon-mic-outline: '\e992';
$icon-minimize-outline: '\e993';
$icon-minus-circle-outline: '\e994';
$icon-minus-outline: '\e995';
$icon-minus-square-outline: '\e996';
$icon-monitor-outline: '\e997';
$icon-moon-outline: '\e998';
$icon-more-horizontal-outline: '\e999';
$icon-more-vertical-outline: '\e99a';
$icon-move-outline: '\e99b';
$icon-music-outline: '\e99c';
$icon-navigation-2-outline: '\e99d';
$icon-navigation-outline: '\e99e';
$icon-npm-outline: '\e99f';
$icon-options-2-outline: '\e9a0';
$icon-options-outline: '\e9a1';
$icon-pantone-outline: '\e9a2';
$icon-paper-plane-outline: '\e9a3';
$icon-pause-circle-outline: '\e9a4';
$icon-people-outline: '\e9a5';
$icon-percent-outline: '\e9a6';
$icon-person-add-outline: '\e9a7';
$icon-person-delete-outline: '\e9a8';
$icon-person-done-outline: '\e9a9';
$icon-person-outline: '\e9aa';
$icon-person-remove-outline: '\e9ab';
$icon-phone-call-outline: '\e9ac';
$icon-phone-missed-outline: '\e9ad';
$icon-phone-off-outline: '\e9ae';
$icon-phone-outline: '\e9af';
$icon-pie-chart-outline: '\e9b0';
$icon-pin-outline: '\e9b1';
$icon-play-circle-outline: '\e9b2';
$icon-plus-circle-outline: '\e9b3';
$icon-plus-outline: '\e9b4';
$icon-plus-square-outline: '\e9b5';
$icon-power-outline: '\e9b6';
$icon-pricetags-outline: '\e9b7';
$icon-printer-outline: '\e9b8';
$icon-question-mark-circle-outline: '\e9b9';
$icon-question-mark-outline: '\e9ba';
$icon-radio-button-off-outline: '\e9bb';
$icon-radio-button-on-outline: '\e9bc';
$icon-radio-outline: '\e9bd';
$icon-recording-outline: '\e9be';
$icon-refresh-outline: '\e9bf';
$icon-repeat-outline: '\e9c0';
$icon-rewind-left-outline: '\e9c1';
$icon-rewind-right-outline: '\e9c2';
$icon-save-outline: '\e9c3';
$icon-scissors-outline: '\e9c4';
$icon-search-outline: '\e9c5';
$icon-settings-2-outline: '\e9c6';
$icon-settings-outline: '\e9c7';
$icon-shake-outline: '\e9c8';
$icon-share-outline: '\e9c9';
$icon-shield-off-outline: '\e9ca';
$icon-shield-outline: '\e9cb';
$icon-shopping-bag-outline: '\e9cc';
$icon-shopping-cart-outline: '\e9cd';
$icon-shuffle-2-outline: '\e9ce';
$icon-shuffle-outline: '\e9cf';
$icon-skip-back-outline: '\e9d0';
$icon-skip-forward-outline: '\e9d1';
$icon-slash-outline: '\e9d2';
$icon-smartphone-outline: '\e9d3';
$icon-smiling-face-outline: '\e9d4';
$icon-speaker-outline: '\e9d5';
$icon-square-outline: '\e9d6';
$icon-star-outline: '\e9d7';
$icon-stop-circle-outline: '\e9d8';
$icon-sun-outline: '\e9d9';
$icon-swap-outline: '\e9da';
$icon-sync-outline: '\e9db';
$icon-text-outline: '\e9dc';
$icon-thermometer-minus-outline: '\e9dd';
$icon-thermometer-outline: '\e9de';
$icon-thermometer-plus-outline: '\e9df';
$icon-toggle-left-outline: '\e9e0';
$icon-toggle-right-outline: '\e9e1';
$icon-trash-2-outline: '\e9e2';
$icon-trash-outline: '\e9e3';
$icon-trending-down-outline: '\e9e4';
$icon-trending-up-outline: '\e9e5';
$icon-tv-outline: '\e9e6';
$icon-twitter-outline: '\e9e7';
$icon-umbrella-outline: '\e9e8';
$icon-undo-outline: '\e9e9';
$icon-unlock-outline: '\e9ea';
$icon-upload-outline: '\e9eb';
$icon-video-off-outline: '\e9ec';
$icon-video-outline: '\e9ed';
$icon-volume-down-outline: '\e9ee';
$icon-volume-mute-outline: '\e9ef';
$icon-volume-off-outline: '\e9f0';
$icon-volume-up-outline: '\e9f1';
$icon-wifi-off-outline: '\e9f2';
$icon-wifi-outline: '\e9f3';
$icon-activity: '\e9f4';
$icon-alert-circle: '\e9f5';
$icon-alert-triangle: '\e9f6';
$icon-archive: '\e9f7';
$icon-arrow-back: '\e9f8';
$icon-arrow-circle-down: '\e9f9';
$icon-arrow-circle-left: '\e9fa';
$icon-arrow-circle-right: '\e9fb';
$icon-arrow-circle-up: '\e9fc';
$icon-arrow-down: '\e9fd';
$icon-arrow-downward: '\e9fe';
$icon-arrow-forward: '\e9ff';
$icon-arrowhead-down: '\ea00';
$icon-arrowhead-left: '\ea01';
$icon-arrowhead-right: '\ea02';
$icon-arrowhead-up: '\ea03';
$icon-arrow-ios-back: '\ea04';
$icon-arrow-ios-downward: '\ea05';
$icon-arrow-ios-forward: '\ea06';
$icon-arrow-ios-upward: '\ea07';
$icon-arrow-left: '\ea08';
$icon-arrow-right: '\ea09';
$icon-arrow-up: '\ea0a';
$icon-arrow-upward: '\ea0b';
$icon-at: '\ea0c';
$icon-attach: '\ea0d';
$icon-attach-2: '\ea0e';
$icon-award: '\ea0f';
$icon-backspace: '\ea10';
$icon-bar-chart: '\ea11';
$icon-bar-chart-2: '\ea12';
$icon-battery: '\ea13';
$icon-behance: '\ea14';
$icon-bell: '\ea15';
$icon-bell-off: '\ea16';
$icon-bluetooth: '\ea17';
$icon-book: '\ea18';
$icon-bookmark: '\ea19';
$icon-book-open: '\ea1a';
$icon-briefcase: '\ea1b';
$icon-browser: '\ea1c';
$icon-brush: '\ea1d';
$icon-bulb: '\ea1e';
$icon-calendar: '\ea1f';
$icon-camera: '\ea20';
$icon-car: '\ea21';
$icon-cast: '\ea22';
$icon-charging: '\ea23';
$icon-checkmark: '\ea24';
$icon-checkmark-circle: '\ea25';
$icon-checkmark-circle-2: '\ea26';
$icon-checkmark-square: '\ea27';
$icon-checkmark-square-2: '\ea28';
$icon-chevron-down: '\ea29';
$icon-chevron-left: '\ea2a';
$icon-chevron-right: '\ea2b';
$icon-chevron-up: '\ea2c';
$icon-clipboard: '\ea2d';
$icon-clock: '\ea2e';
$icon-close: '\ea2f';
$icon-close-circle: '\ea30';
$icon-close-square: '\ea31';
$icon-cloud-download: '\ea32';
$icon-cloud-upload: '\ea33';
$icon-code: '\ea34';
$icon-code-download: '\ea35';
$icon-collapse: '\ea36';
$icon-color-palette: '\ea37';
$icon-color-picker: '\ea38';
$icon-compass: '\ea39';
$icon-copy: '\ea3a';
$icon-corner-down-left: '\ea3b';
$icon-corner-down-right: '\ea3c';
$icon-corner-left-down: '\ea3d';
$icon-corner-left-up: '\ea3e';
$icon-corner-right-down: '\ea3f';
$icon-corner-right-up: '\ea40';
$icon-corner-up-left: '\ea41';
$icon-corner-up-right: '\ea42';
$icon-credit-card: '\ea43';
$icon-crop: '\ea44';
$icon-cube: '\ea45';
$icon-diagonal-arrow-left-down: '\ea46';
$icon-diagonal-arrow-left-up: '\ea47';
$icon-diagonal-arrow-right-down: '\ea48';
$icon-diagonal-arrow-right-up: '\ea49';
$icon-done-all: '\ea4a';
$icon-download: '\ea4b';
$icon-droplet: '\ea4c';
$icon-droplet-off: '\ea4d';
$icon-edit: '\ea4e';
$icon-edit-2: '\ea4f';
$icon-email: '\ea50';
$icon-expand: '\ea51';
$icon-external-link: '\ea52';
$icon-eye: '\ea53';
$icon-eye-off: '\ea54';
$icon-eye-off-2: '\ea55';
$icon-facebook: '\ea56';
$icon-file: '\ea57';
$icon-file-add: '\ea58';
$icon-file-remove: '\ea59';
$icon-file-text: '\ea5a';
$icon-film: '\ea5b';
$icon-flag: '\ea5c';
$icon-flash: '\ea5d';
$icon-flash-off: '\ea5e';
$icon-flip: '\ea5f';
$icon-flip-2: '\ea60';
$icon-folder: '\ea61';
$icon-folder-add: '\ea62';
$icon-folder-remove: '\ea63';
$icon-funnel: '\ea64';
$icon-gift: '\ea65';
$icon-github: '\ea66';
$icon-globe: '\ea67';
$icon-globe-2: '\ea68';
$icon-globe-3: '\ea69';
$icon-google: '\ea6a';
$icon-grid: '\ea6b';
$icon-hard-drive: '\ea6c';
$icon-hash: '\ea6d';
$icon-headphones: '\ea6e';
$icon-heart: '\ea6f';
$icon-home: '\ea70';
$icon-image: '\ea71';
$icon-image-2: '\ea72';
$icon-inbox: '\ea73';
$icon-info: '\ea74';
$icon-keypad: '\ea75';
$icon-layers: '\ea76';
$icon-layout: '\ea77';
$icon-link: '\ea78';
$icon-link-2: '\ea79';
$icon-linkedin: '\ea7a';
$icon-list: '\ea7b';
$icon-lock: '\ea7c';
$icon-log-in: '\ea7d';
$icon-log-out: '\ea7e';
$icon-map: '\ea7f';
$icon-maximize: '\ea80';
$icon-menu: '\ea81';
$icon-menu-2: '\ea82';
$icon-menu-arrow: '\ea83';
$icon-message-circle: '\ea84';
$icon-message-square: '\ea85';
$icon-mic: '\ea86';
$icon-mic-off: '\ea87';
$icon-minimize: '\ea88';
$icon-minus: '\ea89';
$icon-minus-circle: '\ea8a';
$icon-minus-square: '\ea8b';
$icon-monitor: '\ea8c';
$icon-moon: '\ea8d';
$icon-more-horizontal: '\ea8e';
$icon-more-vertical: '\ea8f';
$icon-move: '\ea90';
$icon-music: '\ea91';
$icon-navigation: '\ea92';
$icon-navigation-2: '\ea93';
$icon-npm: '\ea94';
$icon-options: '\ea95';
$icon-options-2: '\ea96';
$icon-pantone: '\ea97';
$icon-paper-plane: '\ea98';
$icon-pause-circle: '\ea99';
$icon-people: '\ea9a';
$icon-percent: '\ea9b';
$icon-person: '\ea9c';
$icon-person-add: '\ea9d';
$icon-person-delete: '\ea9e';
$icon-person-done: '\ea9f';
$icon-person-remove: '\eaa0';
$icon-phone: '\eaa1';
$icon-phone-call: '\eaa2';
$icon-phone-missed: '\eaa3';
$icon-phone-off: '\eaa4';
$icon-pie-chart: '\eaa5';
$icon-pie-chart-2: '\eaa6';
$icon-pin: '\eaa7';
$icon-play-circle: '\eaa8';
$icon-plus: '\eaa9';
$icon-plus-circle: '\eaaa';
$icon-plus-square: '\eaab';
$icon-power: '\eaac';
$icon-pricetags: '\eaad';
$icon-printer: '\eaae';
$icon-question-mark: '\eaaf';
$icon-question-mark-circle: '\eab0';
$icon-radio: '\eab1';
$icon-radio-button-off: '\eab2';
$icon-radio-button-on: '\eab3';
$icon-recording: '\eab4';
$icon-refresh: '\eab5';
$icon-repeat: '\eab6';
$icon-rewind-left: '\eab7';
$icon-rewind-right: '\eab8';
$icon-save: '\eab9';
$icon-scissors: '\eaba';
$icon-search: '\eabb';
$icon-settings: '\eabc';
$icon-settings-2: '\eabd';
$icon-shake: '\eabe';
$icon-share: '\eabf';
$icon-shield: '\eac0';
$icon-shield-off: '\eac1';
$icon-shopping-bag: '\eac2';
$icon-shopping-cart: '\eac3';
$icon-shuffle: '\eac4';
$icon-shuffle-2: '\eac5';
$icon-skip-back: '\eac6';
$icon-skip-forward: '\eac7';
$icon-slash: '\eac8';
$icon-smartphone: '\eac9';
$icon-smiling-face: '\eaca';
$icon-speaker: '\eacb';
$icon-square: '\eacc';
$icon-star: '\eacd';
$icon-stop-circle: '\eace';
$icon-sun: '\eacf';
$icon-swap: '\ead0';
$icon-sync: '\ead1';
$icon-text: '\ead2';
$icon-thermometer: '\ead3';
$icon-thermometer-minus: '\ead4';
$icon-thermometer-plus: '\ead5';
$icon-toggle-left: '\ead6';
$icon-toggle-right: '\ead7';
$icon-trash: '\ead8';
$icon-trash-2: '\ead9';
$icon-trending-down: '\eada';
$icon-trending-up: '\eadb';
$icon-tv: '\eadc';
$icon-twitter: '\eadd';
$icon-umbrella: '\eade';
$icon-undo: '\eadf';
$icon-unlock: '\eae0';
$icon-upload: '\eae1';
$icon-video: '\eae2';
$icon-video-off: '\eae3';
$icon-volume-down: '\eae4';
$icon-volume-mute: '\eae5';
$icon-volume-off: '\eae6';
$icon-volume-up: '\eae7';
$icon-wifi: '\eae8';
$icon-wifi-off: '\eae9';
